.container {
    min-width: 580px;
    min-height: 210px;
    background-color: #1C1C21;
    border-radius: 40px;
    background-size: 100%;
    margin-bottom: 15px;
}
.id {
    margin: 0;
    padding-top: 24px;
    padding-left: 24px;
    width: 100px;
    font-family: Iceland, 'Droid Sans', 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 24px;
    color: #F2F2F3;
}
.cardName {
    margin: 24px 0 0 24px;
    font-family: Iceland, 'Droid Sans', 'Helvetica Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #F2F2F3;
}
.header {
    display: flex;
    justify-content: space-between;
}
.date {
    padding-right: 24px;
    padding-top: 24px;
    margin: 0;
    font-family: 'Jet Brains Mono', 'Droid Sans', 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8585AD;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.icons {
    margin: 0;
    min-width: 430px;
    max-height: 65px;
    padding: 0 0 0 24px;
    position: relative;
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(6, 45px);
    grid-template-rows: 90px;
    grid-auto-flow:dense;
    overflow: hidden;
}
.icon {
    list-style-type: none;
    height: 60px;
    width: 60px;
    background: 
     linear-gradient(#131316,#131316) padding-box, /*this is your grey background*/
     linear-gradient(to top right, #801AB2 , #4C4CFF) border-box;
    border-radius: 50%;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    
}
.icon:first-child {
    z-index: 6;
}
.icon:nth-child(2) {
    z-index: 5;
}
.icon:nth-child(3) {
    z-index: 4;
}
.icon:nth-child(4) {
    z-index: 3;
}
.icon:nth-child(5) {
    z-index: 2;
}
.icon:nth-child(6) {
    z-index: 1;
}
.pick {
    width: 90px;
    height: 60px;
}
.lastPick {
    width: 90px;
    height: 60px;
    opacity: 0.6;
    position: relative;
}
.price {
    display: flex;
    align-items: center;
    padding-right: 24px;
    height: 60px;
}
.status {
    font-family: 'Jet Brains Mono', 'Droid Sans', 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    margin: -16px 0 24px 24px;
}
.link {
    text-decoration: none;
    color: #F2F2F3;
}
.link:active {
    text-decoration: none;
    color: #F2F2F3;
}
.count {
    font-family: 'Jet Brains Mono', 'Droid Sans', 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    position: absolute;
    top: 18px
}