.page {
  background-color: #131316;;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  align-items: center;
}
.menu  {
  margin: 0 auto;
  min-width: 1240px;
  display: flex;
  justify-content: space-between;
}