.page {
  background-color: #131316;;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
}
.menu  {
  margin: 0 auto;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
}