.card {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.image {
    min-width: 240px;
    min-height: 120px;
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    min-height: 50px;
}
.count {
    position: absolute;
    top: 0;
    right: 0;
}