.block {
    overflow:hidden;
    position: relative;
    min-width: 620px;
}
.container {
    max-height: 800px;
    overflow-y: scroll;
    position: relative;
    padding-right: 10px;
    max-width: 650px;
}
.title {
   text-align: start;
}

.container::-webkit-scrollbar-thumb {
    background-color: #8585AD
}
.container::-webkit-scrollbar {
    background-color: #2F2F37;
}