.block {
    max-width: 600px;
    overflow: hidden;
}
.nav {
    display: flex;
}
.item {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    
}
.mainMenu {
    max-height: 700px;
    overflow-y: scroll;
    position: relative;
}
.mainMenu::-webkit-scrollbar-thumb {
    background-color: #8585AD
}
.mainMenu::-webkit-scrollbar {
    background-color: #2F2F37;
}

